*.opensdf
*.obj
*.log
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.ilk
*.sdf
*.xcuserstate

code/1.0/Core/Core.xcodeproj/project.xcworkspace/xcuserdata/sunxin.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

teambition/

*.hmap

*.d

*.o

*.dia

*.dat

*.LinkFileList

*.idx

*.db

*.xcactivitylog

*.strings-sym

*.strings-res

*.strings-moduleurl

*.strings-file

*.strings-dir

*.xcindexdb-wal

*.xcindexdb

*.xcindexdb-shm

*.strings-cmp

code/1.0/Core/DerivedData/Core/Build/Intermediates/Core.build/Debug/Core.build/dgph

code/1.0/Core/DerivedData/Core/Build/Products/Debug/Core

*.xcfind
